.fundo-footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    cursor: pointer;
    background-color: #fff;
}

.informacao-footer {
    display: flex;
    gap: 50px;
    padding: 12px 50px;
    font-size: 20px;
}

.informacao-footer>i {
    display: flex;
    gap: 8px;
}

.logo-empresa {
    padding-right: 60px;
}

.fundo-footer:nth-child(2) {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: coral;
    color: #fff;
    padding: 20px 80px;
    font-size: 14px;
    font-weight: 400;
}