.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 0.4s;
  background: rgba(77, 77, 77, 0.3);
}

.modal-wrapper {
  display: flex;
  background-color: #fff;
  height: auto;
  width: 40%;
}

/* @media screen and (max-width: 806px) {
  .wrapper {
    display: flex;
    width: 60%;
  }
} */
