* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 90px 0;
  background-color: #04709f;
}

.fundo-pagamento {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 40%;
  min-width: 200px;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.titulo-pagamento {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.titulo {
  display: flex;
  justify-content: space-between;
}

.titulo>span {
  font-size: 30px;
  cursor: pointer;
  padding: 10px 0;
  padding-right: 40px;
}

.titulo>h3 {
  font-size: 20px;
  padding: 25px 20px;
  color: rgb(146, 146, 146);
}

.sair {
  display: flex;
  font-size: 26px;
  padding: 4px 0;
  padding-right: 8px;
}

.forma-pagamento-container {
  display: flex;
  justify-content: space-around;
}

.forma-pagamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  color: black;
}

.forma-pagamento>i {
  font-size: 40px;
}

.forma-pagamento>span {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.forma-pagamento svg {
  height: 38px;
  width: 35px;
}

.forma-pagamento:hover {
  color: #04709f;
}

.linha {
  padding: 20px;
}

.parcelamento-container {
  padding-inline: 20px;
}

.parcelamento {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.preco {
  display: flex;
  flex-wrap: wrap;
  max-width: 974px;
  gap: 8px;
}

.preco>span:nth-child(2) {
  color: #04709f;
}