* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--azul-primario);
  width: 100vw;
  height: 100vh;
}

.fundo-cadastro {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 7px;
  width: 500px;
}

.header-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 12px 0;
}

.header-cadastro > img {
  width: 100%;
}

.header-cadastro > h3 {
  font-size: 24px;
  font-weight: 500;
}

.icone-cadastro {
  display: flex;
  gap: 26px;
  cursor: pointer;
  padding: 8px 0;
}

.icone-cadastro > img {
  width: 57px;
  height: 57px;
}

.icone-cadastro > img:nth-child(2) {
  width: 57px;
  height: 57px;
}

.alternativa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  color: #a2a2a2;
}

.conteudo-container {
  display: flex;
  justify-content: center;
  padding: 35px 0;
  width: 100%;
}

.conteudo-cadastro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0 38px;
}

.conteudo-cadastro > label {
  font-size: 18px;
  padding: 0 8px;
}

.conteudo-cadastro > input {
  font-size: 12px;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #a2a2a2;
  outline: none;
}

.conteudo-cadastro > input:focus {
  border: 2px solid #04709f;
}

.cadastro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
}

.button {
  margin-top: 20px;
}

.button:hover {
  opacity: 0.8;
}

.entrar {
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 500;
}

.entrar > span {
  padding: 10px 0;
  text-decoration: none;
}

.entrar > span:nth-child(2) a {
  color: #04709f;
  cursor: pointer;
  text-decoration: none;
}

.entrar > span:nth-child(2):hover {
  opacity: 0.8;
}

/* resposividade */

@media only screen and (max-width: 900px) {
  .fundo-cadastro {
    width: 90%;
  }
}
